version: "3"
services:
  backend:
    build:
      context: backend
    environment:
      DB_TABLENAME: Idea-centered-inquiry #<DB_TABLENAME>
      DB_USERNAME: wulab #<USERNAME>
      DB_USERPSW: ytwu35415 #<USERPSW>
      DB_HOST: db
    restart: always
    ports:
        - "8000:8000"
    depends_on:
        - db

  db:
    image: postgres:13.2-alpine
    restart: always
    environment:
      POSTGRES_DB: Idea-centered-inquiry #<DB_TABLENAME> 
      POSTGRES_USER: wulab #<USERNAME> 
      POSTGRES_PASSWORD: ytwu35415 #<USERPSW> 
      PGDATA: /var/lib/postgresql/data

    volumes:
      - "./db_data:/var/lib/postgresql/data"
    ports:
        - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4:7.5
    container_name: pgadmin4_container
    restart: always
    ports:
      - "5050:5050"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
      PGADMIN_LISTEN_PORT: 5050
      PGADMIN_CONFIG_WTF_CSRF_CHECK_DEFAULT: "False"
    volumes:
      - "./pgadmin_data:/var/lib/pgadmin"

  frontend:
    build: 
      context: frontend
    ports:
      - '3000:3000'
    stdin_open: true
    restart: always
    # volumes:
    #   - "./frontend:/app"
    depends_on:
      - backend

volumes:
    db_data:
    pgadmin_data:

networks:
  frontend:
  backend: